<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Game</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="scripts/game.js"></script>
</head>

<body>
    {{!-- <div class="embed-responsive embed-responsive-16by9 my-5">
            <video id="videoRemote" class="embed-responsive-item" width="320" height="240" autoplay></video>
        </div> --}}

    <x-show-connection>
        <slot name="true">
            <x-peer-menu></x-peer-menu>
        </slot>
        <slot name="false">
            <x-random-pun></x-random-pun>
        </slot>
    </x-show-connection>
</body>

</html>