<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Game</title>
    {{!-- Bootstrap core CSS --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet" />
    {{!-- Scripts --}}
    <script src="game.js"></script>
</head>

<body>
    <x-pun id="pun" question="O que é, o que é: maconha enrolada em jornal?" answer="Baseados em fatos Reais"></x-pun>
</body>

</html>