<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Trocadilho | Principal</title>

  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
    integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>

<body>
  <h1>Tente não rir</h1>
  <a class="pure-button pure-button-primary" href="/game">Começar</a>
  <p>Envie seu trocadiho</p>
  <form action="/pun" method="post" class="pure-form">
    <fieldset>
      <div class="pure-control-group">
        <label for="question">Pergunta</label>
        <textarea class="pure-input" name="question" id="question" rows="5"></textarea>
      </div>
      <div class="pure-control-group">
        <label for="answer">Resposta</label>
        <textarea class="pure-input" name="answer" id="answer" rows="5"></textarea>
      </div>
      <div class="pure-controls">
        <button type="submit" class="pure-button">Submit</button>
      </div>
    </fieldset>
  </form>
  <div>
    {{pun}}
    {{#each error}}
    <ul class="erros">
      <li>{{this}}</li>
    </ul>
    {{/each}}
  </div>
</body>

</html>